
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #007acc;
  color: white;
  padding: 15px;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin: 0 15px;
}

.nav-list a {
  color: white; 
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}

.keyboard-container {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #6fb2df;
}

h1 {
  color: #007acc;
}

h2 {
  color: #333; 
}

.keyboard-container h2 {
  color: #007acc;
}

.keyboard-container p {
  color: #333; 
}

ul {
  list-style-type: none;
  padding: 0;
}


.keyboard-container ul {
  color: #333; 
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #f1f1f1;
  margin-top: 20px;
}

.footer p {
  margin: 0;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #007acc; 
}

.social-links a:hover {
  text-decoration: underline;
}

.about-us-container {
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9; 
  border-radius: 5px;
}

.about-us-container h1 {
  color: #007acc;
}

.about-us-container p {
  color: #333; 
}

.keyboard-image {
  max-width: 100%; 
  height: auto;   
  margin: 20px 0;  
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin-right: 20px;
}

.nav-list button {
  background: none;
  border: none;
  color: #007acc;
  cursor: pointer;
  font-size: 16px;
}

