.header {
    background-color: #1a1a1a;
    
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .nav {
    margin-top: 10px;
    width: 100%; /* Set the width of the nav */
    margin: 0 auto; /* Center the nav */
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Space items evenly */
  }
  
  .nav-item {
    margin: 0; /* No margin needed, handled by justify-content */
  }
  
  .nav-item a {
    color: #dd1111; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add padding for clickable area */
  }
  
  .nav-item a:hover {
    color: #646cff; /* Change color on hover */
  }